.dashboard_index
  .container
    .current_city
      .row.justify-content-md-center
        .col-md-7
          %h1.main_title
            Weather for
            %span.city_name #{@weather[:city_and_country]}
          %h2
            %span.city_temperature= @weather[:city_weather].temperature
            ºC
          %h2
            %span.city_temperature_f= @weather[:f_temperature][:temperature]
            ºF
      .row.justify-content-md-center
        .col-md-4.text-right
          %h4 Pressure
        .col-md-3.text-left
          %h5.pressure= "#{ @weather[:city_weather].pressure } hpa"
      .row.justify-content-md-center
        .col-md-4.text-right
          %h4 Humidity
        .col-md-3.text-left
          %h5.humidity= "#{ @weather[:city_weather].humidity } %"
      .row.justify-content-md-center
        .col-md-4.text-right
          %h4 Min Temperature
        .col-md-3.text-left
          %h5.min_celcius= "#{ @weather[:city_weather].min_temperature } ºC"
          %h5.min_farenheit= "#{ @weather[:f_temperature][:min] } ºF"
      .row.justify-content-md-center
        .col-md-4.text-right
          %h4 Max Temperature
        .col-md-3.text-left
          %h5.max_celcius= "#{ @weather[:city_weather].max_temperature } ºC"
          %h5.max_farenheit= "#{ @weather[:f_temperature][:max] } ºF"
      .row.justify-content-md-center
        .col-md-4.text-right
          %h4 Wind Speed
        .col-md-3.text-left
          %h5.wind_speed= "#{ @weather[:city_weather].wind_speed } km/h"
      .row.justify-content-md-center
        .col-md-6
          %div{class: "add_to_fav_form", style: "display:#{@weather[:is_fav] ? 'none' : ''}" }
            %button.add_to_fav Add city to favorites
            = hidden_field_tag "name", "#{@weather[:city_and_country]}"
    .city_searcher.ui-widget
      .row.justify-content-md-center
        .col-md-7
          %h3 Looking for another city?
          %input{ type: "text", class: "city_searcher_x", :data => { :available_countries => @cities } }
    .favorite_cities




