<h1>Weather for <%= @weather[:city_weather].city %></h1>

<h2><%= @weather[:city_weather].temperature %>&ordm;C</h2>
<h2><%= @weather[:f_temperature][:temperature] %>&ordm;F</h2>

<table>
  <tbody>
    <tr>
      <td>Pressure</td>
      <td><%= @weather[:city_weather].pressure %>hpa</td>
    </tr>
    <tr>
      <td>Humidity</td>
      <td><%= @weather[:city_weather].humidity %>%</td>
    </tr>
    <tr>
      <td>Min Temperature</td>
      <td><%= @weather[:city_weather].min_temperature %>&ordm;C</td>
      <td><%= @weather[:f_temperature][:min] %>&ordm;F</td>
    </tr>
    <tr>
      <td>Max Temperature</td>
      <td><%= @weather[:city_weather].max_temperature %>&ordm;C</td>
      <td><%= @weather[:f_temperature][:max] %>&ordm;F</td>
    </tr>
    <tr>
      <td>Wind Speed</td>
      <td><%= @weather[:city_weather].wind_speed %>mi/h</td>
    </tr>
  </tbody>
</table>
